.root { 
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

.leaflet-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.leaflet-padded{
    position: relative;
}

.black {
    color: black;
}

.selected {
    background-color: dimgrey;
}

/* Flex Box Layout
https://stackoverflow.com/questions/23389098/fill-remaining-vertical-space-only-css
*/
.cmh_v-flex-align-wrapper{
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.cmh_v-flex-align-child{
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, */
}