.root { 
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

.leaflet-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.black {
    color: black;
}

.selected {
    background-color: dimgrey;
}