.root { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.rootFull { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.leaflet-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.black {
    color: black;
}